# Node modules folder, because it's very large and can be reinstalled
node_modules/

# Environment variable files, because they contain sensitive information
.env

# Logs (if any)
logs/
*.log

# Vercel build folder (if generated during the process)
.vercel/

# Cache files
.cache/
dist/
